﻿
/*************************
*******Typography******
**************************/

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 20px 20px;
  background: #00ccff url(../images/top.png) no-repeat center 10px;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
  display: block;
}

a#scrollUp i{
  font-size: 30px;
  display: none;
}


/*************************
*******Header CSS******
**************************/

.header-middle{
	background: url(../images/bgHeader.jpg) repeat-x 0 0;
	min-height: 234px;
}

.header-middle .container .row {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-5{
  padding-left: 0;
}
.header-middle .container .row .col-sm-5 .logo{
	padding-top: 3px;
}
.header-middle .container .row .col-sm-7 {
	padding-right:0;
}
.header-middle .container .row .col-sm-12 {
	padding-left:0;
}
.shop-menu {
	padding: 17px 0 0 25px;
	font-size: 25px;
	color: #b54b72;
	text-transform: uppercase;
}

.navbar-collapse.collapse{
  padding-left: 0;
}
.mainmenu ul{
	width: 100%;
}
.mainmenu ul li{
  margin-right: 2px;
  margin-left: 2px;
  width: 10%;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #696763;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
	background-size: 100%!important;
	width: 100%;
	display: block;
	height: 105px;
	text-align: center;
	text-transform: uppercase;
	color: #b54b72;
	font-size: 14px;
	font-weight: bold;
	padding-top: 70px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color: #b54b72;
}
.mainmenu ul li.image a{
	background: url(../images/m_image.png) no-repeat 0 0;
	color: #303030;
	padding-top: 40px;
}
.mainmenu ul li.grammar a{
	background: url(../images/m_grammar.png) no-repeat 0 0;
}
.mainmenu ul li.expressions a{
	background: url(../images/m_expressions.png) no-repeat 0 0;
	color: #00ccff;
}
.mainmenu ul li.songs a{
	background: url(../images/m_songs.png) no-repeat 0 0;
}
.mainmenu ul li.animals a{
	background: url(../images/m_animals.png) no-repeat 0 0;
	color: #00ccff;
}
.mainmenu ul li.holidays a{
	background: url(../images/m_holidays.png) no-repeat 0 0;
}
.mainmenu ul li.printables a{
	background: url(../images/m_printables.png) no-repeat 0 0;
	color: #00ccff;
}
.mainmenu ul li.guide a{
	background: url(../images/m_guide.png) no-repeat 0 0;
}
.mainmenu ul li.home a{
	background: url(../images/m_home.png) no-repeat 0 0;
	color: #00ccff;
}
/*  Dropdown menu*/

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #FDB45E;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
}

.fa-angle-down{
  padding-left: 5px; 
}
.navbar-toggle{
	margin-top: 31px;
}
@media(max-width:1199px){
.mainmenu ul li a {
	color: #696763;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
	background-size: 100%!important;
	width: 100%;
	display: block;
	height: 105px;
	text-align: center;
	text-transform: uppercase;
	color: #b54b72;
	font-size: 12px;
	font-weight: bold;
	padding-top: 58px;
}
}
@media(max-width:991px){
.mainmenu ul li a {
	color: #696763;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
	background-size: 100%!important;
	width: 100%;
	display: block;
	height: 105px;
	text-align: center;
	text-transform: uppercase;
	color: #b54b72;
	font-size: 9px;
	font-weight: bold;
	padding-top: 40px;
}
}
@media(max-width:767px){
.mainmenu ul{
	margin: 0 auto;
	background: #76d1e6!important;
	border: none!important;
  box-shadow: none!important;
}
.mainmenu ul li{
  margin-right: 0;
  margin-left: 0;
  padding: 0!important;
  width: 100%;
 	height: auto!important;
	background: none!important;
}
	
.mainmenu ul li a {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding: 5px 10px!important;
	width: 100%;
	display: block;
	height: auto!important;
	text-indent: 0px!important;
	background-image: none!important;
}
.mainmenu ul li a:hover{
	background: #368ca0;
}
.mainmenu ul li.image a,
.mainmenu ul li.home a,
.mainmenu ul li.printables a,
.mainmenu ul li.animals a,
.mainmenu ul li.expressions a{
	color: #fff;
}
	
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
  
/*************************
*******Footer CSS******
**************************/

#footer {
  background: #272727;
}

.footer-widget {
  padding-bottom: 30px;
}

.footer-widget .container {
  padding-top: 15px;
}

.single-widget h2 {
  color: #666663;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.fList1{
	margin: 0;
	padding: 0;
}
.fList1 li{
	color: #afafaf;
	font-size: 16px;
	padding: 0 0 0 30px;
	line-height: 20px;
	margin-bottom: 10px;
}
.fList1 li.home{
	background: url(../images/fHome.png) no-repeat 0 3px;
}
.fList1 li.phone{
	background: url(../images/fPhone.png) no-repeat 0 3px;
}
.fList1 li.fax{
	background: url(../images/fFax.png) no-repeat 0 1px;
}
.fList1 li.mail{
	background: url(../images/fEmail.png) no-repeat 0 3px;
}
.single-widget h2.fTtl2{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: none;
	padding-top: 1px;
	padding-bottom: 4px;
}
.f_txt_link{
	color: #6a6a6a;
	font-size: 16px;
	font-style: italic;
	padding-top: 16px;
}
.f_txt_link a{
	color: #6a6a6a;
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
}
.f_txt_link a:hover{
	text-decoration: none;
}
.copyright{
	color: #afafaf;
	font-size: 16px;
	padding-top: 20px;
}
.fList2{
	margin: 0;
	padding: 3px 0 30px 0;
	border-bottom: 1px solid #2f2f2f;
	margin-bottom: 31px;
}
.fList2 li{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.user{
	color: #afafaf;
	font-size: 16px;
}
.searchform input {
  color: #a5a5a5;
  font-size: 16px;
  margin: 0;
  outline: medium none;
  height: 39px;
  line-height: 39px;
  width: 245px;
  border: 5px solid #fff;
  float: left;
}

.searchform button {
  background: #00ccff;
  color: #fff;
  border: medium none;
  border-radius: 0;
  padding: 0 10px;
  height: 39px;
  line-height: 29px;
  margin: 0;
  border: 5px solid #fff;
  font-size: 14px;
}

.searchform  button:hover, 
.searchform  button:focus{
	background-color:#FE980F;
  border: 5px solid #fff;
}

/*************************
******* Home ******
**************************/


#slider {
	background: none;
  padding-bottom: 0;
}
.containerSlider{
	width: 100%!important;
	padding: 0!important;
	margin: 0!important;
}

img.sliderImg{
	height: 100%!important;
	max-width: 100%!important;
	max-height: 100%!important;
}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
	  background: #FE980F;
}

.item {
  padding-left: 0;
  position: relative;
  min-height: 550px;
  overflow: hidden;
}
.containerSlider .item .col-sm-12{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%!important;
	height: 100%!important;
}


.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}

.girl {
  margin-left: 0;
}

.item h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 140px!important;
  text-align: center;
}

.item  p {
	color:#fff;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 24px;
	padding-top: 8px;
}
.item_btn{
	text-align: center;
	padding-top: 48px;
}
.item_btn a.item_btn1{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #fff;
	line-height: 50px;
	height: 50px;
	padding: 0 50px;
	margin-right: 6px;
	margin-bottom: 10px;
}
.item_btn a.item_btn1:hover{
	color: #FE980F;
	border: 2px solid #FE980F;
}
.item_btn a.item_btn2{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	background: #00ccff;
	line-height: 50px;
	height: 50px;
	border: 2px solid #00ccff;
	padding: 0 50px;
	margin-bottom: 10px;
}
.item_btn a.item_btn2:hover{
	border: 2px solid #FE980F;
	background: #FE980F;
}

.get {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}


.item button:hover {
  background: #FE980F;
}

.control-carousel {
  position: absolute;
  top: 36%;
  font-size: 60px;
  color: #C2C2C1;
  left: 5%;
}
.right.control-carousel{
  left: 92%!important;
}

.control-carousel:hover{
  color: #FE980F ;
}

.right {
  right: 0;
}

.category-products {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.left-sidebar h2, .brands_products h2 {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.left-sidebar h2:after, h2.title:after{
	content: " ";
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.left-sidebar h2:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}
.service{
	background: #fff;
	padding-top: 50px;
	padding-bottom: 45px;
}
.serverTtl{
	margin: 0;
	padding: 5px 0 14px 0;
	color: #3e4e6a;
	font-size: 18px;
	font-weight: bold;
}
.serverTtl a{
	color: #3e4e6a;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.serverTtl a:hover{
	text-decoration: underline;
}
.content{
	background: url(../images/bgBody.jpg) repeat 0 0;
	padding: 10px 0 30px 0;
}
.content .container .row .boxRadius{
	background: #fff;
	border-radius: 3px;
}
.left-sidebar{
	background: #fff;
	padding-bottom: 30px;
	padding-top: 15px;
}
.features_items{
	background: #fff;
}
.classList{
	padding: 30px 0 0 0;
	min-height: 600px;
}
.classListItem{
}
.classListSh{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding-left: 15px;
}
.classListItem .classListSh{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding-left: 0;
}
.classListItem .classListBox{
	position: relative;
	margin-top: 10px;
}
.classListItem .classListBox .classListImg{
	margin: 0;
}
.classListItem .classListBox .classListImg img{
	width: 100%;
}
.classListItem .classListBox .classListTtl{
	text-align: center;
	margin: 0;
	min-height: 50px;
}
.classListItem .classListBox .classListTtl a{
	display: block;
	color: #3e4e6a;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 7px 0;
}
.classListItem.classListItemLock .classListBox .classListTtl a{
	display: block;
	color: #3e4e6a;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/icoLock.jpg) no-repeat 5px 11px;
	padding: 10px 0 7px 0;
}
.classListItem .classListBox .classListTxtRed{
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background: #d54a7c;
	border-radius: 50%;
	padding: 9px 6px 5px 6px;
	line-height: 13px;
	text-transform: uppercase;
}
.classListItem .classListBox .classListTxtBlue{
	background: #00ccff;	
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	border-radius: 50%;
	padding: 9px 6px 5px 6px;
	line-height: 13px;
	text-transform: uppercase;
}
.classListItem .classListLevel{
	margin: 0 0 20px 0;
}
.classListItem .classListLevel img{
	width: 100%;
}
.viewAll{
	text-align: right;
	padding: 0 15px 0 0;
	margin-bottom: 30px;
}
.viewAll a{
	color: #2d2d2d;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 28px;
	text-decoration: none;
	border: 2px solid #2d2d2d;
	text-transform: uppercase;
	display: inline-block;	
	padding: 0 20px;
}
.viewAll a:hover{
	color: #00ccff;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 28px;
	text-decoration: none;
	border: 2px solid #00ccff;
	text-transform: uppercase;
	display: inline-block;	
	padding: 0 20px;
}
.accountAdd{
	padding: 30px 0 50px 0;
}
.accountAdd .accountAddTtl{
	margin: 0;	
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #00ccff;
}
.accountAdd .accountAddVip {
	margin: 15px 0 0 0;
}
.accountAdd .accountAddVip a{
	height: 70px;
	line-height: 70px;
	color: #000;
	text-decoration: none;
	border: 2px solid #000;
	text-transform: uppercase;	
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: center;
	background: #ffc90e;
}
.accountAdd .accountAddVip a:hover{
	background: #00ccff;
}
.accountAdd .accountAddQ{
	background: url(../images/icoQ.png) no-repeat 0 0;	
	text-transform: uppercase;	
	font-size: 18px;
	font-weight: bold;
	color: #2c7b53;
	padding: 10px 0 13px 50px;
	margin: 100px 0 30px 0;
}
.accountAdd .accountAddFAQ{
	margin: 0;
}
.accountAdd .accountAddFAQ dt{
	color: #ef0a0a;	
	font-size: 14px;
	font-weight: bold;
}
.accountAdd .accountAddFAQ dd{
	color: #2d2d2d;
	padding: 7px 0 20px 0;
	
}
.accountAdd .accountAddPageL{
	float: right;
	margin: 10px 0 0 0;
	padding: 0;
	border-right: 1px solid #ebebeb;
}
.accountAdd .accountAddPageL li{
	float: left;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 35px;
	border: 1px solid #ebebeb;
	border-right: none;
	color: #b2b2b2;
	font-size: 14px;
	width: 40px;
	text-align: center;
}
.accountAdd .accountAddPageL li a{
	margin: 0;
	padding: 0;
	display: block;
	color: #b2b2b2;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}
.accountAdd .accountAddPageL li a:hover,
.accountAdd .accountAddPageL li a.active{
	color: #00ccff;
	font-size: 14px;
	font-weight: bold;
}
.accountAdd .accountAddTxt{
	color: #4d4d4d;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 25px;
}
.accountAddpanel{
	border: none;
	border-radius: 0px!important;
	margin-bottom: 50px!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.accountAddpanel .panel-heading {
    border-bottom: none;
    border-top-left-radius: none!important;
    border-top-right-radius: none!important;
    padding: 0;
    background-color: #none!important;
    border-color: #fff!important;
    color: #000;
}
.panel-default > .panel-heading {
    background-color: #fff!important;
    border-color: #fff!important;
    color: #000;
}
.accountAddpanel .panel-heading .panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
	border: 2px solid #000;
	padding: 0 20px 0 0;
}
.accountAddpanel .panel-heading .panel-title  a{
	display: block;
	background: url(../images/icoDown.png) no-repeat right 29px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 25px 20px;
}
.accountAddpanel .panel-heading .panel-title  a.collapsed{
	background: url(../images/icoUp.png) no-repeat right 29px;
}
.accountAddpanel3_1{
	margin: 0;
}
.accountAddpanel3_1 label{
	float: left;
	color: #4d4d4d;
	width: 20%;
	font-size: 14px;
	font-weight: bold;
	padding-top: 18px;
}
.accountAddpanel3_1 input{
	float: left;
	width: 80%;
	border: 2px solid #e2e2e2;
	height: 54px;
	line-height: 54px;
	padding: 0 3%;
	color: #4d4d4d;
	font-size: 14px;
	
}
.accountAddpanel3_2{
	margin: 10px 0 0 0;
}
.accountAddpanel3_2 textarea{
	background: #f3f3f3;
	width: 100%;
	overflow: auto;
	resize: none;
	height: 170px;
	color: #a1a1a1;
	font-style: italic;
	padding: 20px;
}
.accountAddpanel2{
	background: #f3f3f3;
	padding: 25px 20px;
}
.accountAddpanel2 h3{
	margin: 0 0 15px 0;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.accountAddpanel2 p{
	margin: 0;
	color: #000;
	font-size: 14px;
}
.accountAddpanel1_1{
	margin: 0 0 10px 0;
}
.accountAddpanel1_1 label{
	float: left;
	color: #4d4d4d;
	width: 20%;
	font-size: 14px;
	font-weight: bold;
	padding-top: 15px;
}
.accountAddpanel1_1 input{
	float: left;
	width: 80%;
	border: 2px solid #e2e2e2;
	height: 54px;
	line-height: 54px;
	padding: 0 3%;
	color: #4d4d4d;
	font-size: 14px;
}
.accountAddpanel1_2{
	text-align: right;
	margin: 0;
}
.accountAddpanel1_2 input.submit{
	background: #00ccff;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;	
	border: none;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
}
.accountAddpanel1_2 input.submit:hover{
	background: #00b7e5;
}
.accountAddpanel1_3 {
	margin-bottom: 20px;
}
.accountAddpanel1_3 .accountAddpanel1_3_1 {
	float: left;
	margin: 0 0 0 0;
	width: 20%;
}
.accountAddpanel1_3 .accountAddpanel1_3_2 {
	float: left;
	margin: 0 0 0 0;
	width: 80%;
}
.accountAddpanel1_3 .accountAddpanel1_3_2 img{
	width: 100%;
}
.accountAdd .accountAddInfo{
	background: #00ccff;
	text-align: center;
	padding: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.accountAdd .accountAddInfo h3{
	margin: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0 15px 0;	
}
.accountAdd .accountAddInfo p{
	margin: 0;
	background: #fff;
	color: #00ccff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 20px 0;
}
.accountAdd .accountAddHotline{
	background: #00ccff;
	color: #ffffff;	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
}
.accountAdd .accountAddTxt2{
	background: #ddf4fa;
	color: #2b2b2b;	
	padding: 25px 20px;
	margin: 10px 0 0 0;
}
.accountAddForm{
	background: #f7f7f7;
	border: 1px solid #ebebeb;
	margin: 15px 0 0 0;
	padding: 25px 20px;
}
.accountAddForm1{
	margin: 0 0 10px 0;
}
.accountAddForm1 label{
	float: left;
	color: #4d4d4d;
	width: 30%;
	font-size: 14px;
	font-weight: bold;
	padding-top: 15px;
}
.accountAddForm1 input{
	float: left;
	width: 70%;
	border: 2px solid #e2e2e2;
	background: #fff;
	height: 54px;
	line-height: 54px;
	padding: 0 3%;
	color: #4d4d4d;
	font-size: 14px;
}
.accountAddForm1 a{
	float: left;
	height: 68px;
	width: 68px;
	display: block;
	overflow: hidden;
	border: 1px solid #bfbfbf;
}
.accountAddForm1 a img{
	width: 100%;
}
.accountAddForm2{
	padding-top: 15px;
	margin: 0;
}
.accountAddForm2 label{
	float: left;
	color: #4d4d4d;
	width: 50%;
	font-size: 14px;
	font-weight: bold;
	padding-top: 15px;
}
.accountAddForm2 span{
	float: left;
	display: block;
	border: 2px solid #000;	
	color: #000;	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 50%;
	padding: 15px 0;
}

.accountAddPageL2{
	float: right;
	margin: 0 15px 50px 0;
	padding: 0;
}
.accountAddPageL2 li{
	float: left;
	margin: 0 3px;
	padding: 0;
	height: 30px;
	line-height: 28px;
	color: #b2b2b2;
	font-size: 14px;
	width: 30px;
	text-align: center;
}
.accountAddPageL2 li a{
	margin: 0;
	padding: 0;
	display: block;
	color: #b2b2b2;
	font-size: 14px;
	text-align: center;
	border: 1px solid #ebebeb;
	text-decoration: none;
	font-weight: bold;
}
.accountAddPageL2 li.prev{
	margin: 0 6px 0 0;
}
.accountAddPageL2 li.next{
	margin: 0 0 0 6px;
}
.accountAddPageL2 li.prev a,
.accountAddPageL2 li.next a{
	border: 1px solid #dbdbdb;
	background: #dbdbdb;
	color: #fff;
}.accountAddPageL2 li.prev a:hover,
.accountAddPageL2 li.next a:hover{
	border: 1px solid #00ccff;
	background: #00ccff;
	color: #fff;
}
.accountAddPageL2 li a:hover,
.accountAddPageL2 li a.active{
	color: #fff;
	background: #00ccff;
	border: 1px solid #00ccff!important;
}

@media(max-width:767px){
 .content .container .col-sm-9 {
	 background: #fff;
 }
}
@media(max-width: 320px){
	.navbar-toggle {
		margin-top: 12px;
	}
}
@media(min-width: 321px) and (max-width: 350px){
	.navbar-toggle {
		margin-top: 11px;
	}
}
@media(min-width: 347px) and (max-width: 364px){
	.navbar-toggle {
		margin-top: 40px;
	}
}
@media(min-width: 351px) and (max-width: 363px){
	.navbar-toggle {
/*		margin-top: 5px;*/
	}
}
@media(min-width: 364px) and (max-width: 390px){
	.navbar-toggle {
		margin-top: 40px;
	}
}
@media(min-width: 391px) and (max-width: 410px){
	.navbar-toggle {
		margin-top: 35px;
	}
}
@media (max-width: 320px){
.searchform input {
    width: 145px;
}
}
@media(min-width: 768px) and (max-width: 991px){
.searchform input {
    width: 145px;
}
}
@media(min-width: 768px) and (max-width: 1200px){
.classListItem .classListSh {
	min-height: 34px;
}
}
.side-list{
	padding: 0;
	margin: 0;
}
.side-list li{
	padding: 0;
	margin: 0 0 24px 0;
}
.side-list li .book{
	background: #f7f7f7 url(../images/icoBook.jpg) no-repeat 0 0;
	border: 1px solid #2d2d2d;
	padding: 20px 10px 20px 60px;
	margin: 0;
	text-align: center;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
}
.side-list li .pen{
	background: #f7f7f7 url(../images/icoPen.jpg) no-repeat 0 0;
	border: 1px solid #2d2d2d;
	padding: 20px 10px 20px 60px;
	margin: 0;
	text-align: center;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
}

.side-list li .test{
	background: #f7f7f7 url(../images/icoTest.jpg) no-repeat 0 0;
	border: 1px solid #2d2d2d;
	padding: 20px 10px 20px 60px;
	margin: 0;
	text-align: center;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: url(../images/bgProcess.jpg);
	background-repeat: repeat-x;
}
.progress2 {
	background-color: #dcdcdc;
	height: 10px;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 0;
}
.contentBox{
	padding: 15px 15px 30px 15px;
}
.path{
	background: #fff3c9 url(../images/icoBook2.jpg) no-repeat 0 0;
	border: 1px solid #e8d592;
	margin: 0;
	padding: 0 0 0 38px;
	display: block;
}
.path li{
	background: url(../images/arrow.jpg) no-repeat right top;
	margin: 0 10px 0 16px;
	color: #b6941d;
	font-size: 14px;
	text-decoration: none;
	float: left;
	display: block;
	padding: 6px 24px 7px 0;
}
.path li a{
	color: #b6941d;
	font-size: 14px;
	text-decoration: none;
}
.path li a:hover{
	text-decoration: underline;
}
.path li span{
	color: #b6941d;
	font-size: 14px;
	font-weight: bold;
}
.contentBoxInner{
	padding: 30px 0 0 0;
}
.progress-bar-info {
    background-color: #00ccff;
}
.contentBoxInner .quetion{
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	padding: 25px 0 15px 15px;
}
.contentBoxInner a.send{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	background: #00ccff;	
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px 0;
	margin-top: 20px;
}
.contentBoxInner a.send:hover{
	background: #01b7e6;
}
.contentBoxInner .quetion2{
	text-align: center;
}
.contentBoxInner .quetion2 img{
	border: 1px solid #bfbfbf;
	width: 100%;
}
.contentBoxInner .quetion2 span{
	display: inline-block;
	background: url(../images/sound1.jpg) no-repeat 0 5px;	
	color: #000;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 20px 30px;
	margin-top: 30px;
}
.contentBoxInner .quetion2 span.help{
	display: inline-block;
	background: url(../images/icoEge.png) no-repeat 0 5px;	
	color: #000;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 20px 40px;
	margin-top: 30px;
}
.contentBoxInner .quetion2 span em{
	font-style: normal;
	color: #00ccff;
}
.soundL{
	background: url(../images/arrow2.jpg) no-repeat 0 75px;
	margin: 20px 0 0 0;
	padding-left: 50px;
}
.soundL li{
	margin: 0 0 13px 0;
}
.soundL li a{
	background: #f7f7f7 url(../images/sound3.jpg) no-repeat center center; 
	border: 1px solid #bfbfbf;
	height: 50px;
	display: block;
	text-indent: -9999px;
}
.soundL li a:hover{
	background: #00ccff url(../images/sound2.jpg) no-repeat center center; 
	border: 1px solid #00ccff;
	height: 50px;
	display: block;
	text-indent: -9999px;
}
.soundL3{
	background: url(../images/arrow2.jpg) no-repeat 0 75px;
	margin: 0 0 0 0;
	padding-left: 50px;
}
.soundL3 li{
	margin: 0 0 13px 0;
	text-align: center;
}
.soundL3 li a{
	background: #f7f7f7; 
	border: 1px solid #bfbfbf;
	display: block;
	font-size: 20px;
	font-weight: normal;
	color: #c3c3c3;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
}
.soundL3 li a:hover{
	background: #00ccff; 
	border: 1px solid #00ccff;
	color: #fff;
}
.soundL2{
	background: url(../images/arrow2.jpg) no-repeat 0 75px;
	margin: 0 0 0 0;
	padding-left: 70px;
}
.soundL2 li{
	margin: 0 0 13px 0;
}
.soundL2 li a img{
	border: 2px solid #bfbfbf;
	width: 50%;
	margin-right: 10px;
}
.soundL2 li a:hover img{
	border: 2px solid #00ccff;
}
.soundL4{
	background: url(../images/arrow2.jpg) no-repeat 0 75px;
	margin: 0 0 0 0;
	padding-left: 50px;
}
.soundL4 li{
	margin: 0 0 13px 0;
	background: #f7f7f7; 
	border: 2px solid #bfbfbf;
	display: block;
	font-size: 20px;
	font-weight: normal;
	color: #c3c3c3;
	padding: 15px;
	text-align: center;
	text-decoration: none;
}
.soundL4 li input{
	width: 100%;
	font-size: 15px;
	color: #000;	
	background: #f7f7f7; 
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border-bottom: 2px solid #bfbfbf; 
}
.soundL4 li.active,
.soundL4 li:hover{
	background: #fff; 
	border: 2px solid #00ccff;
	display: block;
	font-size: 20px;
	font-weight: normal;
	color: #c3c3c3;
	padding: 15px;
	text-align: center;
	text-decoration: none;
}
.soundL4 li.active input,
.soundL4 li:hover input{
	background: #fff; 
	border-bottom: 2px solid #fff; 
}
.contentBoxInner p.anwserR{
	margin: 20px 0 0 0;	
	background: #6dd44a;
	text-align: center;
	padding-left: 20px;
}
.contentBoxInner p.anwserR span{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	background: url(../images/icoDown.jpg) no-repeat 0 20px;	
	text-decoration: none;
	padding: 15px 50px;
	font-weight: normal;
	display: inline-block;
}
.contentInnerTxt{
	color: #000;
	font-size: 15px;
	padding-bottom: 20px;
}
.contentBoxInner p.anwserF{
	margin: 20px 0 0 0;	
	background: #ee0808;
	text-align: center;
	padding-left: 20px;
}
.contentBoxInner p.anwserF span{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	background: url(../images/icoX.jpg) no-repeat 0 20px;	
	text-decoration: none;
	padding: 15px 40px;
	font-weight: normal;
	display: inline-block;
}

h2.title:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
    border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 0;
}
.panel-group .panel + .panel {
    margin-top: 0;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #2d2d2d;
  font-size: 14px;
  text-decoration: none;
  background: url(../images/circle1.jpg) no-repeat 0 12px;
  display: block;
  padding: 10px 0 10px 20px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 0;
}
.panel-body ul li{
	background: url(../images/circle4.jpg) no-repeat -1px 4px;	
    border-left: 1px solid #e5e5e5;
}
.panel-body ul li.yellow{
	background: url(../images/circle2.jpg) no-repeat -1px 4px;	
    border-left: 1px solid #e5e5e5;
}
.panel-body ul li.green{
	background: url(../images/circle3.jpg) no-repeat -1px 4px;	
    border-left: 1px solid #e5e5e5;
}

.panel-body ul li a {
  color: #5e5e5e;
  font-size: 14px;
  padding: 0 0 0 46px;
}
.panel-body ul li span{
	display: block;
  padding: 2px 0 7px 46px;
}
.panel-body ul li span img{
	width: 100%;
}

.brands-name {
  border: 1px solid #F7F7F0;
  padding-bottom: 20px;
  padding-top: 15px;
}


.brands-name .nav-stacked li a {
  background-color: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color: #696763;
}
.lNav{
	margin: 0 0 30px 0;
	padding: 0;
}
.lNav li{
	margin-top: 6px;
}
.lNav li a{
	background: #00ccff;
	display: block;
	position: relative;
}
.lNav li a.active,
.lNav li a:hover{
	background: #00b7e5;
}
.lNav li a span{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	left: 58px;
	top: 20px;
	
}
@media(max-width:1199px){
.lNav li a span{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: 50px;
	top: 16px;
	
}
}
@media(max-width:991px){
.lNav li a span{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	left: 35px;
	top: 11px;
	
}
}
@media(max-width:767px){
.lNav li a span{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	left: 58px;
	top: 20px;
	
}
}
.shipping {
  overflow: hidden;
  position: relative;
}
.shipping a img{
	width: 100%;
}
.profile_box{
	padding-bottom: 24px;
}
.profile_box .signout{
	text-align: right;
	color: #4d4d4d;
	font-size: 12px;
	margin-bottom: 0;
}
.profile_box .signout a{
	color: #4d4d4d;
	font-size: 12px;
	text-decoration: none;
}
.profile_box .signout a:hover{
	text-decoration: underline;
}
.profile_box .profileImg{
	float: left;
	height: 50px;
	width: 50px;	
	border: 1px solid #d5d5d5;
	overflow: hidden;
}
.profile_box .profileImg a img{
	width: 100%;
}
.profile_box .profileInfo{
	float: left;
	width: ;
	padding: 0 0 0 10px;
}
.profile_box .profileInfo dt{
	color: #3e4e6a;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 4px 0;
}
.profile_box .profileInfo dt a{
	color: #3e4e6a;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.profile_box .profileInfo dt a:hover{
	text-decoration: underline;
}
.profile_box .profileInfo dd{
	color: #4d4d4d;
	font-size: 14px;
}
.profile_box .profileInfo dd a{
	color: #4d4d4d;
	font-size: 14px;
	text-decoration: none;
}
.profile_box .profileInfo dd a:hover{
	text-decoration: underline;
}

.profile_box .profileRank{
	float: right;
	margin-top: 14px;
}
.profileLink{
}
.profileLink a{
	background: #d54a7c;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.profileLink a:hover{
	background: #b22f5e;
}

.price-range{
  margin-top:30px;
}

.well {
  background-color: #FFFFFF;
  border: 1px solid #F7F7F0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 35px;
}


.tooltip-inner {
  background-color: #FE980F;
  border-radius: 4px;
  color: #FFFFFF;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #FE980F;
  border-width: 5px 5px 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}


.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}


h2.title {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#FE980F;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity:;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #FE980F;
}


.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}



.add-to-cart {
  background:#F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.add-to-cart:hover {
  background: #FE980F;
  color: #FFFFFF;
}

.choose {
  border-top: 1px solid #F7F7F0;
}

.choose ul li a {
  color: #B3AFA8;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i{
	margin-right:5px;
}

.choose ul li a:hover{
	background:none;
	color:#FE980F;
}

.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403E;
  border-bottom: 1px solid #FE980F;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #B3AFA8;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul  li  a:hover{
	background:#FE980F;
	color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FE980F;
  border:0px;
  color: #FFFFFF;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs  li  a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
}

.recommended_items {
  overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}

.recommended_items  h2 {
}

.our_partners{
  overflow:hidden;
}

.our_partners ul {
  background: #F7F7F0;
  margin-bottom: 50px;
}


.our_partners ul li a:hover{
	background:none;
}

/*************************
*******Shop CSS******
**************************/


#advertisement {
  padding-bottom: 45px;
}

#advertisement img {
  width: 100%;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #FE980F;
  border-color: #FE980F;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#FE980F;
	color:#fff;
}



/*************************
*******Product Details CSS******
**************************/

.product-details{
	overflow:hidden;
}


#similar-product {
  margin-top: 40px;
}


#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}



.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item{
	padding-left:0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover{
	background:#ccccc6;
}

.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival{
	position:absolute;
	top:0;
	left:0
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #FE980F;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}


.cart {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}


.shop-details-tab {
  border: 1px solid #F7F7F0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}


#reviews ul {
  background: #FFFFFF;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews  ul  li {
	display:inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i{
	color:#FE980F;
	padding-right:8px;
}

#reviews ul li a:hover{
	background:#fff;
	color:#FE980F;
}

#reviews p{
	color:#363432;
}

#reviews  form span {
  display: block;
}

#reviews form span input {
  background:#F0F0E9;
  border: 0 none;
  color: #A6A6A1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}
#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #F0F0E9;
  border: medium none;
  color: #A6A6A1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}

.content-404 h1 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 41px;
  font-weight: 300;
}

.content-404 img {
 margin:0 auto;
}

.content-404 p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.content-404  h2 {
  margin-top:50px;
}

.content-404 h2 a {
  background: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 300;
  padding: 8px 40px;
}


/*************************
*******login page CSS******
**************************/

#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form {

}

.signup-form {

}

.login-form h2, .signup-form h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}


.login-form form input, .signup-form form input {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button, .signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.login-form label{

}


.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}


.or{
	background: #FE980F;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
  margin-bottom: 50px;
}

.breadcrumbs {
  position: relative;
}

.breadcrumbs .breadcrumb {
  background:transparent;
  margin-bottom: 75px;
  padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
  background:#FE980F;
  color: #FFFFFF;
  padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
  content:"";
  height:auto;
  width: auto;
  border-width: 8px;
  border-style: solid;
  border-color:transparent transparent transparent #FE980F;
  position: absolute;
  top: 11px;
  left:48px;

}

.breadcrumbs .breadcrumb > li + li:before {
  content: " ";
}

#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
  background: #FE980F;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
  height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}


#cart_items .cart_info .image {
  padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
  color: #363432;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: normal;

}

#cart_items .cart_info .cart_description p {
  color:#696763
}


#cart_items .cart_info .cart_price p {
  color:#696763;
  font-size: 18px
}


#cart_items .cart_info .cart_total_price {
  color: #FE980F;
  font-size: 24px;
}

.cart_product {
  display: block;
  margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
  background:#F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  
}


.cart_delete  {
  display: block;
  margin-right: -12px;
  overflow: hidden;
}


.cart_delete a {
  background:#F0F0E9;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:#FE980F
}


.bg h2.title {
  margin-right:0;
  margin-left:0;
  margin-top: 0;
}

.heading h3 {
  color: #363432;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.heading p {
  color: #434343;
  font-size: 16px;
  font-weight: 300;
}


#do_action .total_area {
  padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
  border: 1px solid #E6E4DF;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}

.total_area span {
  float: right;
}

.total_area ul li {
  background:#E6E4DF;
  color: #696763;
  margin-top: 10px;
  padding: 7px 20px;
}


.user_option label {
  color: #696763;
  font-weight: normal;
  margin-left: 10px;
}


.user_info {
  display: block;
  margin-bottom: 15px;
  margin-top: 20px;
  overflow: hidden;
}

.user_info label {
  color: #696763;
  display: block;
  font-size: 15px;
  font-weight: normal;

}

.user_info .single_field {
  width: 31%
}

.user_info .single_field.zip-field input {
  background: transparent;
  border: 1px solid#F0F0E9
}

.user_info > li {
  float: left;
  margin-right: 10px
}

.user_info > li > span {
}

.user_info input, select, textarea {
  background: #F0F0E9;
  border:0;
  color: #696763;
  padding: 5px;
  width: 100%;
  border-radius: 0;
  resize: none
}

.user_info select:focus {
  border: 0
}


.chose_area .update {
  margin-left: 40px;
}

.update, .check_out {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 18px;
  border: none;
  padding: 5px 15px;
}
.update{
    margin-left: 40px;
}

.check_out {
  margin-left: 20px
}



/*************************
*******checkout CSS******
**************************/

.step-one {
  margin-bottom: -10px
}

.register-req, .step-one .heading {
  background: none repeat scroll 0 0 #F0F0E9;
  color: #363432;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
}

.checkout-options {
  padding-left: 20px
}


.checkout-options h3 {
  color: #363432;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.checkout-options p {
  color: #434343;
  font-weight: 300;
  margin-bottom: 25px;
}

.checkout-options .nav li {
  float: left;
  margin-right: 45px;
  color: #696763;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.checkout-options .nav label {
  font-weight: normal;
}

.checkout-options .nav li a {
  color: #FE980F;
  font-size: 18px;
  font-weight: normal;
  padding: 0
}

.checkout-options .nav li a:hover {
  background: inherit;
}

.checkout-options .nav i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: #FE980F;
  color:#fff;
  font-size: 14px;
  padding: 2px 3px;
}


.register-req  {
  font-size: 14px;
  font-weight: 300;
  padding: 15px 20px;
  margin-top: 35px;

}

.register-req p {
  margin-bottom: 0
}



.shopper-info p, 
.bill-to p, 
.order-message p {
  color: #696763;
  font-size: 20px;
  font-weight: 300
}


.shopper-info .btn-primary {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  margin-right: 15px;
  margin-top: 20px;
}


.form-two, .form-one {
  float: left;
  width: 47%
}


.shopper-info > form > input, 
.form-two > form > select, 
.form-two > form > input, 
.form-one > form > input {
  background:#F0F0E9;
  border: 0 none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  font-weight: 300
}

.form-two > form > select {
  padding:10px 5px
}

.form-two {
  margin-left: 5%
}


.order-message textarea {
  font-size: 12px;
  height: 335px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.order-message label {
  font-weight:300;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  font-size: 14px
}


.review-payment h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px
}

.payment-options {
  margin-bottom:125px;
  margin-top: -25px
}

.payment-options span label {
  color: #696763;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

#cart_items .cart_info 
.table.table-condensed.total-result {
  margin-bottom: 10px;
  margin-top: 35px;
  color: #696763
}

#cart_items .cart_info 
.table.table-condensed.total-result tr {
  border-bottom: 0
}

#cart_items .cart_info 
.table.table-condensed.total-result span {
  color: #FE980F;
  font-weight: 700;
  font-size: 16px
}

#cart_items .cart_info 
.table.table-condensed.total-result 
.shipping-cost {
  border-bottom: 1px solid #F7F7F0;
}




/*************************
*******Blog CSS******
**************************/



.blog-post-area 
.single-blog-post h3 {
  color: #696763;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 17px;
}

.single-blog-post > a {
}

.blog-post-area 
.single-blog-post a img {
  border: 1px solid #F7F7F0;
  width: 100%;
  margin-bottom: 30px
}

.blog-post-area  
.single-blog-post p {
  color: #363432
}

.blog-post-area 
.post-meta {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}

.blog-post-area 
.post-meta ul {
  padding:0;
  display: inline;
}

.blog-post-area 
.post-meta ul li {
  background:#F0F0E9;
  float: left;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 11px;
  color: #393b3b;
  position: relative;
}

.blog-post-area 
.post-meta ul li i {
  background:#FE980F;
  color: #FFFFFF;
  margin-left: -4px;
  margin-right: 7px;
  padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area 
.post-meta ul li i:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-color:transparent transparent transparent #FE980F;
  border-width:4px;
  border-style: solid;
  top:6px;
  left:24px
}

.blog-post-area 
.post-meta ul span {
  float: right;
  color: #FE980F
}

.post-meta span{
    float: right;
}

.post-meta span i{
  color: #FE980F
}


.blog-post-area  
.single-blog-post 
.btn-primary {
  background:#FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 17px;
}


.pagination-area {
  margin-bottom:45px;
  margin-top:45px
}

.pagination-area 
.pagination li a {
  background:#F0F0E9;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  margin-right: 5px;
  padding: 4px 12px;
}

.pagination-area 
.pagination li a:hover,
.pagination-area 
.pagination li .active {
  background:#FE980F;
  color: #fff
}



/*************************
*******Blog Single CSS******
**************************/

.pager-area {
  overflow: hidden;
}

.pager-area .pager li a {
  background:#F0F0E9;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  text-transform: uppercase;
  width: 57px;
}

.pager-area 
.pager li a:hover {
  background: #FE980F;
  color: #fff
}

.rating-area {
  border: 1px solid #F7F7F0;
  direction: block;
  overflow: hidden;
}

.rating-area ul li {
  float: left;
  padding: 5px;
  font-size: 12px
}

.rating-area .ratings {
  float: left;
  padding-left: 0;
  margin-bottom: 0
}


.rating-area 
.ratings li i {
  color:#CCCCCC
}

.rating-area .rate-this {
  color: #363432;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-area 
.ratings .color, 
.rating-area .color {
  color: #FE980F
}


.rating-area .tag {
  float: right;
  margin-bottom: 0;
  margin-right: 10px;
}

.rating-area .tag li {
  padding: 5px 2px;
}
.rating-area .tag li span {
  color: #363432;
}


.socials-share {
  margin-bottom: 30px;
  margin-top: 18px;
}


.commnets 
.media-object {
  margin-right: 15px;
  width: 100%;
}

.commnets {
  border: 1px solid #F7F7F0;
  padding: 18px 18px 18px 0;
  margin-bottom: 50px
}

.commnets .pull-left {
  margin-right: 22px
}

.commnets p, 
.response-area p, 
.replay-box p {
  font-size: 12px
}

.media-heading {
  color: #363432;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px
}

.blog-socials {
  margin-bottom: -9px;
  margin-top: 14px;
}

.blog-socials ul {
  padding-left: 0;
  overflow: hidden;
  float: left;
}

.blog-socials .btn.btn-primary{
  margin-top: 0;
}

.blog-socials ul li {
  
  float: left;
  height: 17px;
  margin-right: 5px;
  text-align: center;
  width: 17px;
}


.blog-socials ul li a {
  color: #393B3B;
  display: block;
  font-size: 10px;
  padding: 1px;
  background:#F0F0E9;
}

.blog-socials ul li a:hover {
  color: #fff;
  background:#FE980F
}


.media-list .btn-primary, 
.commnets .btn-primary {
  background:#FC9A11;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  float: left;
  font-size: 10px;
  padding: 1px 7px;
  text-transform: uppercase;
}

.response-area h2 {
  color: #363432;
  font-size: 20px;
  font-weight: 700;
}

.response-area .media {
  border: 1px solid #F7F7F0;
  padding: 18px 18px 18px 0;
  margin-bottom: 27px
}

.response-area .media img{
  height: 102px;
  width: 100%;
}

.response-area .media .pull-left {
  margin-right: 25px
}

.response-area .second-media {
  margin-left: 5%;
  width: 95%;
}


.sinlge-post-meta {
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 15px
}



.sinlge-post-meta li {
  background:#F0F0E9;
  color: #363432;
  float: left;
  font-size: 10px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.sinlge-post-meta li i {
  background:#FE980F;
  color: #FFFFFF;
  margin-right: 10px;
  padding: 8px 10px;
}

.sinlge-post-meta li i:after {
  top: 7px;
  border-width: 6px;
  left: 27px;
}


.replay-box {
  margin-bottom: 107px;
  margin-top: 55px;
}

.replay-box h2 {
  font-weight: 700;
  font-size: 20px;
  color: #363432;
  margin-top: 0;
  margin-bottom: 45px
}

.replay-box label {
  background:#FE980F;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding: 3px 15px;
  float: left;
  font-weight: 400;
}

.replay-box span {
  color: #FE980F;
  float: right;
  font-weight: 700;
  margin-top: 21px;
}

.replay-box form input {
  border: 1px solid #F7F7F0;
  color: #ADB2B2;
  font-size: 12px;
  margin-bottom: 22px;
  padding: 8px;
  width: 100%;
}

.replay-box form input:hover, 
.text-area textarea:hover {
  border: 1px solid #FE980F;
}

.text-area {
  margin-top: 66px
}

.text-area textarea {
  background: transparent;
  border: 1px solid#F7F7F0
}

.btn.btn-primary {
  background:#FE980F;
  border: 0 none;
  border-radius: 0;
  margin-top: 16px;
}

.blank-arrow {
  position: relative;
}

.blank-arrow label:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 8px;
  border-color:#FE980F transparent transparent transparent;
  top: 25px;
  left: 5px
} 



/*************************
******* Contact CSS ********
**************************/

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px
}

.contact-info .heading, 
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page 
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}


#contact-page .form-control:focus, 
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #FDB45E;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: #FE980F;
}


